{"swagger":"2.0","info":{"description":"The Platform REST API lets you integrate with Rose Rocket applications using simple HTTP methods, in JSON formats, making this an ideal API for developing mobile applications or external clients.","version":"1.0.0","title":"Rose Rocket Platform REST API","termsOfService":"http://swagger.io/terms/","contact":{"email":"platform@roserocket.com"}},"host":"platform.roserocket.com","basePath":"/v1","tags":[{"name":"order","description":"Manage orders"},{"name":"quote","description":"Manage quotes"},{"name":"customer","description":"Manage customers"}],"schemes":["https"],"paths":{"/orders":{"get":{"tags":["order"],"summary":"Search orders","description":"","operationId":"searchOrders","produces":["application/json"],"parameters":[{"name":"created_start_at","in":"query","description":"Date range (start)","type":"string","format":"date-time"},{"name":"created_end_at","in":"query","description":"Date range (end)","type":"string","format":"date-time"},{"name":"search_term","in":"query","description":"Search term","type":"string"},{"name":"external_id","in":"query","description":"External ID to filter by","type":"string"},{"name":"in_external_ids","in":"query","description":"External ID's to filter by","type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"offset","in":"query","description":"Pagination offset","default":0,"minimum":0,"type":"integer"},{"name":"limit","in":"query","description":"Pagination limit","default":20,"minimum":0,"maximum":50,"type":"integer"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/definitions/Order"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders":{"post":{"tags":["order"],"summary":"Create new customer's order","description":"","operationId":"createOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Order"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customer":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/bulk_create":{"post":{"tags":["order"],"summary":"Bulk create orders for a given customer.","description":"","operationId":"bulkCreateOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Bulk create request object","required":true,"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/definitions/Order"}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","$ref":"#/definitions/BulkOrderCreateResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/orders/bulk_create":{"post":{"tags":["order"],"summary":"Bulk create orders for several customers.","description":"","operationId":"bulkCreateOrderCustomerAgnostic","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Bulk create request object","required":true,"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","$ref":"#/definitions/BulkOrderCreateResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/bulk_create_booked_order":{"post":{"tags":["order"],"summary":"Bulk create booked orders for a given customer.","description":"","operationId":"bulkCreateBookedOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Bulk create request object","required":true,"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/definitions/Order"}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","$ref":"#/definitions/BulkOrderCreateResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/orders/bulk_create_booked_order":{"post":{"tags":["order"],"summary":"Bulk create booked orders for several customers.","description":"","operationId":"bulkCreateBookedOrderCustomerAgnostic","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Bulk create request object","required":true,"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","$ref":"#/definitions/BulkOrderCreateResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/orders/bulk_upsert_booked_order":{"post":{"tags":["order"],"summary":"Upsert orders for several customers.","description":"","operationId":"bulkUpsertBookedOrderCustomerAgnostic","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Bulk upsert request object","required":true,"schema":{"type":"object","properties":{"orders":{"type":"array","items":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","$ref":"#/definitions/BulkOrderCreateResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}/revise_origin":{"put":{"tags":["order"],"summary":"Revise the origin of an order by ID","description":"","operationId":"reviseOrderOriginByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Revise order address request object","required":true,"schema":{"$ref":"#/definitions/OrderAddressReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrderAndLegsResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}/revise_destination":{"put":{"tags":["order"],"summary":"Revise the destination of an order by ID","description":"","operationId":"reviseOrderDestinationByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Revise order address request object","required":true,"schema":{"$ref":"#/definitions/OrderAddressReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrderAndLegsResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}/revise_commodities":{"put":{"tags":["order"],"summary":"Revise the commodities of an order by ID","description":"","operationId":"reviseOrderCommoditiesByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Revise order commodities request object","required":true,"schema":{"$ref":"#/definitions/CommodityReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/OrderAndLegsResponse"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}/events/internal_notes":{"get":{"tags":["order"],"summary":"Get an internal event by orderID","description":"","operationId":"getOrderInternalEventByOrderID","produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order_audit_history":{"type":"array","items":{"$ref":"#/definitions/OrderAuditEvent"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}":{"get":{"tags":["order"],"summary":"Get customer's order by ID","description":"","operationId":"getOrderByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]},"put":{"tags":["order"],"summary":"Update customer's order by ID","description":"","operationId":"updateOrderByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Order"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]},"delete":{"tags":["order"],"summary":"Delete customer's order by ID","description":"","operationId":"deleteOrderByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/create_booked_order":{"post":{"tags":["order"],"summary":"Create a booked order","description":"","operationId":"createBookedOrder","produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Order"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"},"legs":{"type":"array","items":{"$ref":"#/definitions/Leg"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/legs":{"get":{"tags":["leg"],"summary":"Search legs","description":"","operationId":"searchLegs","produces":["application/json"],"parameters":[{"name":"created_start_at","in":"query","description":"Date range (start)","type":"string","format":"date-time"},{"name":"created_end_at","in":"query","description":"Date range (end)","type":"string","format":"date-time"},{"name":"search_term","in":"query","description":"Search term","type":"string"},{"name":"external_id","in":"query","description":"External ID to filter by","type":"string"},{"name":"offset","in":"query","description":"Pagination offset","default":0,"minimum":0,"type":"integer"},{"name":"limit","in":"query","description":"Pagination limit","default":20,"minimum":0,"maximum":50,"type":"integer"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"legs":{"type":"array","items":{"$ref":"#/definitions/Leg"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/revise_origin":{"put":{"tags":["leg"],"summary":"Revise the origin of a leg by ID","description":"","operationId":"reviseLegOriginById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to revise. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Leg address revise object","required":true,"schema":{"$ref":"#/definitions/LegAddressReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"type":"object","$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/revise_destination":{"put":{"tags":["leg"],"summary":"Revise the destination of a leg by ID","description":"","operationId":"reviseLegDestinationById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to revise. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Leg address revise object","required":true,"schema":{"$ref":"#/definitions/LegAddressReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"type":"object","$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/revise_commodities":{"put":{"tags":["leg"],"summary":"Revise the commodities of a leg by ID","description":"","operationId":"reviseLegCommoditiesById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to revise. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Leg address revise object","required":true,"schema":{"$ref":"#/definitions/CommodityReviseRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"type":"object","$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/load":{"post":{"tags":["leg"],"summary":"Load leg by ID","description":"","operationId":"loadLegById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to load. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"from_arrive_at","in":"query","description":"From arrive at","type":"string","format":"date-time"},{"name":"from_in_at","in":"query","description":"From in at","type":"string","format":"date-time"},{"name":"from_out_at","in":"query","description":"From out at","type":"string","format":"date-time"},{"name":"pickedup_at","in":"query","description":"Picked up at","type":"string","format":"date-time"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"type":"object","$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/unload":{"post":{"tags":["leg"],"summary":"Unload leg by ID","description":"","operationId":"unloadLegById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to unload. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"to_arrive_at","in":"query","description":"From arrive at","type":"string","format":"date-time"},{"name":"to_in_at","in":"query","description":"From in at","type":"string","format":"date-time"},{"name":"to_out_at","in":"query","description":"From out at","type":"string","format":"date-time"},{"name":"delivered_at","in":"query","description":"Picked up at","type":"string","format":"date-time"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"type":"object","$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/files/{fileID}":{"put":{"tags":["leg"],"summary":"Add a file/document to a specified leg","description":"","operationId":"updateLegFileByLegIdAndFileID","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg for which to update a file/document. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the leg file","required":true,"type":"string"},{"in":"body","name":"body","description":"Leg file create request","required":true,"schema":{"$ref":"#/definitions/LegFileRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/LegFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]},"delete":{"tags":["leg"],"summary":"Delete a file/document from a specified leg","description":"","operationId":"deleteLegFileByLegIdAndFileID","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg for which to delete file/document. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the leg file to delete","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"Message":{"type":"string","enum":["Success","Failure"]}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/files":{"get":{"tags":["leg"],"summary":"Get all leg files/documents for a given ID of a leg","description":"","operationId":"getLegFilesById","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to get files for. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_files":{"type":"array","items":{"$ref":"#/definitions/LegFile"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]},"post":{"tags":["leg"],"summary":"Add a file/document to a specified leg","description":"","operationId":"addLegFileByLegId","produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg for which to add a file/document. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Leg file create request","required":true,"schema":{"$ref":"#/definitions/LegFileRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/LegFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/legs/{legID}/upload_bol":{"post":{"tags":["leg"],"summary":"Upload BOL for a specified leg","description":"","operationId":"uploadLegBOLByLegID","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/LegFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/legs/{legID}/upload_file":{"post":{"tags":["leg"],"summary":"Upload file for a specified leg","description":"","operationId":"uploadLegFileByLegID","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"},{"name":"type","in":"formData","description":"Type of leg file to upload","required":true,"type":"string","enum":["other","comm-invoice","pod","pop","pod-sig","pop-sig","carrier-invoice","smc","bol"]}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/LegFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/legs/{legID}/upload_file/{fileID}":{"put":{"tags":["leg"],"summary":"Update an uploaded file for a specified leg","description":"","operationId":"updateUploadedFileByLegAndFileID","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg to get files for. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the leg file.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"},{"name":"type","in":"formData","description":"Type of leg file to upload","required":true,"type":"string","enum":["other","comm-invoice","pod","pop","pod-sig","pop-sig","carrier-invoice","smc","bol"]}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/LegFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/orders/{orderID}":{"get":{"tags":["order"],"summary":"Get order by Rose Rocket order ID","description":"","operationId":"getOrderByRRID","produces":["application/json"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order. Must be the Rose Rocket ID of the order.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/orders/{orderID}/legs":{"get":{"tags":["leg"],"summary":"Get legs by order ID","description":"","operationId":"getLegsByOrder","produces":["application/json"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"legs":{"type":"array","items":{"$ref":"#/definitions/Leg"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/customers/{customerID}/orders/{orderID}/files":{"get":{"tags":["order"],"summary":"Get all leg files/documents for a given ID of a leg","description":"","operationId":"getOrderFilesById","produces":["application/json"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_files":{"type":"array","items":{"$ref":"#/definitions/OrderFile"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]},"post":{"tags":["order"],"summary":"Add a file/document to a specified order","description":"","operationId":"addOrderFileByLegId","produces":["application/json"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Order file create request","required":true,"schema":{"$ref":"#/definitions/OrderFileRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/OrderFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/customers/{customerID}/orders/{orderID}/files/{fileID}":{"put":{"tags":["order"],"summary":"Update a file for a specified order","description":"","operationId":"updateFileByOrderAndFileID","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the order file.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Order file create request","required":true,"schema":{"$ref":"#/definitions/OrderFileRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg_file":{"type":"object","$ref":"#/definitions/OrderFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["order"],"summary":"Delete a file for a specified order","description":"","operationId":"deleteFileByOrderAndFileID","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the order file.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"Message":{"type":"string","enum":["Success","Failure"]}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/customers/{customerID}/orders/{orderID}/upload_bol":{"post":{"tags":["order"],"summary":"Upload BOL for a specified order","description":"","operationId":"uploadOrderBOL","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order_file":{"type":"object","$ref":"#/definitions/OrderFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/customers/{customerID}/orders/{orderID}/upload_file":{"post":{"tags":["order"],"summary":"Upload file for a specified order","description":"","operationId":"uploadOrderFile","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"},{"name":"type","in":"formData","description":"Type of order file to upload","required":true,"type":"string","enum":["other","comm-invoice","pod","pop","pod-sig","pop-sig","carrier-invoice","smc","bol"]}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order_file":{"type":"object","$ref":"#/definitions/OrderFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/customers/{customerID}/orders/{orderID}/upload_file/{fileID}":{"put":{"tags":["order"],"summary":"Update an uploaded file for a specified order","description":"","operationId":"updateOrderFile","produces":["application/json"],"consumes":["multipart/form-data"],"parameters":[{"name":"orderID","in":"path","description":"ID of the order to get files for. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"fileID","in":"path","description":"ID of the order file.","required":true,"type":"string"},{"name":"customerID","in":"path","description":"ID of the customer to of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"file","in":"formData","description":"File to upload","required":true,"type":"file"},{"name":"type","in":"formData","description":"Type of order file to upload","required":true,"type":"string","enum":["other","comm-invoice","pod","pop","pod-sig","pop-sig","carrier-invoice","smc","bol"]}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order_file":{"type":"object","$ref":"#/definitions/OrderFile"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/legs/{legID}":{"get":{"tags":["leg"],"summary":"Get leg by ID","description":"","operationId":"getLegByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"legID","in":"path","description":"ID of the leg. It could also be the external ID of the leg, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the leg's external ID is __test123__ then the value of legID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"leg":{"$ref":"#/definitions/Leg"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["legs"]}]}},"/manifests/{manifestID}":{"get":{"tags":["manifest"],"summary":"Get manifest by ID","description":"","operationId":"getManifestByID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests":{"post":{"tags":["manifest"],"summary":"Create a new manifest","description":"","operationId":"createManifest","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Manifest create object","required":true,"schema":{"type":"object","properties":{"manifest":{"$ref":"#/definitions/Manifest"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/assign_driver":{"post":{"tags":["manifest"],"summary":"Assign a driver to a manifest","description":"","operationId":"assignDriverToManifest","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Assign manifest driver request object","required":true,"schema":{"type":"object","properties":{"driver_user_id":{"type":"string","format":"uuid"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"},"driver_user_name":{"type":"string","format":"uuid"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/assign_carrier":{"post":{"tags":["manifest"],"summary":"Assign a carrier to a manifest","description":"","operationId":"assignCarrierToManifest","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Assign manifest carrier request object","required":true,"schema":{"type":"object","properties":{"partner_carrier_id":{"type":"string","format":"uuid"},"service_id":{"type":"string","format":"uuid"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"},"partner_carrier_id":{"type":"string","format":"uuid"},"service_id":{"type":"string","format":"uuid"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/dispatch_to_carrier":{"post":{"tags":["manifest"],"summary":"Dispatch a manifest to a carrier","description":"","operationId":"dispatchManifestToCarrier","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Dispatch to carrier request","required":true,"schema":{"type":"object","properties":{"from":{"type":"string"},"cc":{"type":"string"},"subject":{"type":"string"},"to":{"type":"string"},"message":{"type":"string"},"copy_to_myself":{"type":"string"},"include_as_attachment":{"type":"string"},"attach_rate_confirmation":{"type":"string"},"attach_bol":{"type":"string"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"},"partner_carrier_id":{"type":"string","format":"uuid"},"service_id":{"type":"string","format":"uuid"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/assign_and_dispatch_to_carrier":{"post":{"tags":["manifest"],"summary":"Dispatch a manifest to a carrier","description":"","operationId":"assignAndDispatchManifestToCarrier","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Dispatch to carrier request","required":true,"schema":{"type":"object","properties":{"dispatch_request":{"type":"object","properties":{"from":{"type":"string"},"cc":{"type":"string"},"subject":{"type":"string"},"to":{"type":"string"},"message":{"type":"string"},"copy_to_myself":{"type":"string"},"include_as_attachment":{"type":"string"},"attach_rate_confirmation":{"type":"string"},"attach_bol":{"type":"string"}}},"partner_carrier_id":{"type":"string","format":"uuid"},"service_id":{"type":"string","format":"uuid"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest":{"type":"object","$ref":"#/definitions/Manifest"},"partner_carrier_id":{"type":"string","format":"uuid"},"service_id":{"type":"string","format":"uuid"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/legs":{"get":{"tags":["manifest","leg"],"summary":"Get legs by manifest ID","description":"","operationId":"getLegsByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to get legs. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"legs":{"type":"array","items":{"$ref":"#/definitions/Leg"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/add_legs":{"post":{"tags":["manifest","leg"],"summary":"Bulk add legs to specified manifest","description":"","operationId":"bulkAddLegsByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to add legs. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Add legs to manifest request object","required":true,"schema":{"type":"object","properties":{"leg_ids":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"legs":{"type":"array","items":{"$ref":"#/definitions/Leg"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/payment":{"get":{"tags":["manifest"],"summary":"Get manifest payment by manifest ID","description":"","operationId":"getManifestPaymentByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to get a payment. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest_payment":{"type":"object","$ref":"#/definitions/ManifestPayment"},"payment_items":{"type":"array","items":{"$ref":"#/definitions/ManifestPaymentItem"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]},"put":{"tags":["manifest"],"summary":"Update a manifest payment by manifest ID. Note - this endpoint does not affect manifest payment items","description":"","operationId":"updateManifestPaymentByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to update a payment. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Request to update manifest payment","schema":{"type":"object","properties":{"manifest_payment":{"type":"object","$ref":"#/definitions/ManifestPayment"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest_payment":{"type":"object","$ref":"#/definitions/ManifestPayment"},"payment_items":{"type":"array","items":{"$ref":"#/definitions/ManifestPaymentItem"}},"created_by":{"type":"string"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/payment/items/upsert":{"put":{"tags":["manifest"],"summary":"Upsert payment items to a manifest payment. To update a payment, specify a valid id for the payment. Payments without ids will be created.","description":"","operationId":"upsertManifestPaymentItemsByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to upsert a set of payments. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Request to update manifest payment","schema":{"type":"object","properties":{"payment_items":{"type":"array","items":{"$ref":"#/definitions/ManifestPaymentItem"}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest_payment":{"type":"object","$ref":"#/definitions/ManifestPayment"},"payment_items":{"type":"array","items":{"$ref":"#/definitions/ManifestPaymentItem"}},"created_by":{"type":"string"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/payment/items":{"delete":{"tags":["manifest"],"summary":"Delete manifest payment items by supplying an array of manifest payment item ids.","description":"","operationId":"deleteManifestPaymentItemsByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to delete a set of payments. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"body","in":"body","description":"Request to delete manifest payment items","schema":{"type":"object","properties":{"payment_items":{"type":"array","items":{"type":"string"}}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"manifest_payment":{"type":"object","$ref":"#/definitions/ManifestPayment"},"payment_items":{"type":"array","items":{"$ref":"#/definitions/ManifestPaymentItem"}},"created_by":{"type":"string"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/notes":{"post":{"tags":["manifest"],"summary":"Create notes event for a manifest by manifest ID","description":"","operationId":"createNotesByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to create a notes event. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"event":{"type":"object","$ref":"#/definitions/ManifestEvent"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/stops":{"get":{"tags":["manifest","stop"],"summary":"Get stops by manifest ID","description":"","operationId":"getStopsByManifestID","produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest for which to get stops. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"stops":{"type":"array","items":{"$ref":"#/definitions/Stop"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/stops/{stopID}":{"get":{"tags":["manifest","stop"],"summary":"Get manifest's stop by ID","description":"","operationId":"getManifestStopByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"stopID","in":"path","description":"ID of the stop","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"stop":{"$ref":"#/definitions/Stop"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/manifests/{manifestID}/stops/{stopID}/update_schedule":{"put":{"tags":["manifest","stop"],"summary":"Update manifest's stop schedule by ID","description":"","operationId":"updateManifestStopScheduleByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manifestID","in":"path","description":"ID of the manifest. It could also be the external ID of the manifest, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the manifest's external ID is __test123__ then the value of manifestID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"stopID","in":"path","description":"ID of the stop","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Stop object","required":true,"schema":{"type":"object","properties":{"schedule_start_at":{"type":"string","format":"date-time","description":"Schedule time range (start)"},"schedule_end_at":{"type":"string","format":"date-time","description":"Schedule time range (start)"}}}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"stop":{"$ref":"#/definitions/Stop"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["manifests"]}]}},"/partner_carriers":{"get":{"tags":["partner_carrier"],"summary":"Search partner carriers","description":"","operationId":"searchPartnerCarriers","produces":["application/json"],"parameters":[{"name":"search_term","in":"query","description":"Search term","type":"string"},{"name":"offset","in":"query","description":"Pagination offset","default":0,"minimum":0,"type":"integer"},{"name":"limit","in":"query","description":"Pagination limit","default":20,"minimum":0,"maximum":50,"type":"integer"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"partner_carriers":{"type":"array","items":{"$ref":"#/definitions/PartnerCarrier"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["partner_carrier"],"summary":"Create a partner carrier","description":"","operationId":"createPartnerCarrier","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"New Partner Carrier object","required":true,"schema":{"type":"object","$ref":"#/definitions/PartnerCarrier"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"partner_carrier":{"$ref":"#/definitions/PartnerCarrier"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/partner_carriers/{partnerCarrierID}":{"get":{"tags":["partner_carrier"],"summary":"Get partner carrier by ID","description":"","operationId":"getPartnerCarrierByID","produces":["application/json"],"parameters":[{"name":"partnerCarrierID","in":"path","required":true,"description":"ID of the partner carrier","type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"partner_carrier":{"$ref":"#/definitions/PartnerCarrier"},"services":{"type":"array","items":{"$ref":"#/definitions/Service"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["partner_carrier"],"summary":"Update partner carrier by ID","description":"","operationId":"updatePartnerCarrierByID","produces":["application/json"],"parameters":[{"name":"partnerCarrierID","in":"path","description":"ID of the partner carrier","type":"string","format":"uuid","required":true},{"in":"body","name":"body","description":"partner Carrier object","required":true,"schema":{"type":"object","$ref":"#/definitions/PartnerCarrier"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"partner_carrier":{"$ref":"#/definitions/PartnerCarrier"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["partner_carrier"],"summary":"Delete partner carrier by ID","description":"","operationId":"deletePartnerCarrierByID","produces":["application/json"],"parameters":[{"name":"partnerCarrierID","in":"path","required":true,"description":"ID of the partner carrier","type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"partner_carrier":{"$ref":"#/definitions/PartnerCarrier"},"services":{"type":"array","items":{"$ref":"#/definitions/Service"}}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}}}},"/customers":{"get":{"tags":["customer"],"summary":"Search customers","description":"","operationId":"searchCustomers","produces":["application/json"],"parameters":[{"name":"search_term","in":"query","description":"Search term","type":"string"},{"name":"external_id","in":"query","description":"External ID to filter by","type":"string"},{"name":"in_external_ids","in":"query","description":"External IDs to filter by","type":"array","items":{"type":"string"},"collectionFormat":"csv"},{"name":"offset","in":"query","description":"Pagination offset","default":0,"minimum":0,"type":"integer"},{"name":"limit","in":"query","description":"Pagination limit","default":20,"minimum":0,"maximum":50,"type":"integer"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customers":{"type":"array","items":{"$ref":"#/definitions/Customer"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]},"post":{"tags":["customer"],"summary":"Create new customer","description":"","operationId":"createCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Customer"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customer":{"$ref":"#/definitions/Customer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]}},"/customers/{customerID}":{"get":{"tags":["customer"],"summary":"Get customer by ID","description":"","operationId":"getCustomerByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customer":{"$ref":"#/definitions/Customer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]},"put":{"tags":["customer"],"summary":"Update customer by ID","description":"","operationId":"updateCustomerByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Customer"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"order":{"$ref":"#/definitions/Order"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]},"delete":{"tags":["customer"],"summary":"Delete customer by ID","description":"","operationId":"deleteCustomerByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customer":{"$ref":"#/definitions/Customer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]}},"/customers/{customerExtID}/upsert":{"put":{"tags":["customer"],"summary":"Upsert customer by external ID","description":"","operationId":"upsertCustomerByID","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerExtID","in":"path","description":"External ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/Customer"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"customer":{"$ref":"#/definitions/Customer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["customers"]}]}},"/customers/{customerID}/orders/{orderID}/spot_quote":{"post":{"tags":["quote"],"summary":"Create a spot quote for a customer's order","description":"","operationId":"createOrderSpotQuote","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Order object","required":true,"schema":{"$ref":"#/definitions/SpotQuote"}}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"quote":{"$ref":"#/definitions/Quote"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}},"/customers/{customerID}/orders/{orderID}/quotes":{"post":{"tags":["quote"],"summary":"Generate new quotes for a customer's order","description":"","operationId":"generateOrderQuotes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"quotes":{"type":"array","items":{"$ref":"#/definitions/Quote"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]},"get":{"tags":["quote"],"summary":"Get existing quotes for a customer's order","description":"","operationId":"getOrderQuotes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerID","in":"path","description":"ID of the customer that creates the order. It could also be the external ID of the customer, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the customer's external ID is __test123__ then the value of customerID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string"},{"name":"orderID","in":"path","description":"ID of the order. It could also be the external ID of the order, but in order to use external ID it has to follow this format: __ext:{externalID}__ or __external_id:{externalID}__. So for example if the order's external ID is __test123__ then the value of orderID should be __ext:test1234__ or __external_id:test1234__.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object","properties":{"quotes":{"type":"array","items":{"$ref":"#/definitions/Quote"}},"offset":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}}},"security":[{"roserocket_auth":["orders"]}]}}},"securityDefinitions":{"roserocket_auth":{"type":"oauth2","tokenUrl":"https://auth.roserocket.com/oauth2/token","flow":"password","scopes":{"orders":"manage orders","customers":"manage customers","legs":"manage legs","manifests":"manage manifests"}},"jwt":{"description":"","type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"Order":{"description":"Customer's order","type":"object","required":["origin","destination","billing"],"properties":{"id":{"type":"string","format":"uuid","description":"Auto generated system ID","readOnly":true},"sequence_id":{"type":"integer","description":"Auto generated sequence ID per customer","readOnly":true},"external_id":{"type":"string","description":"External ID for mapping the order to an external system. This field value can be _null_"},"public_id":{"type":"string","description":"Auto generated human readable ID","readOnly":true},"customer":{"$ref":"#/definitions/OrderCustomer"},"origin":{"$ref":"#/definitions/OrderAddress"},"destination":{"$ref":"#/definitions/OrderAddress"},"billing":{"$ref":"#/definitions/OrderAddress"},"status":{"type":"string","description":"Order Status","enum":["new","saved","cancelled","quoting","quoted","no-quote","spot-quote-requested","pending-dispatch","dispatched","in-transit","delivered","archived","invoice-created","invoice-sent","invoice-paid","claim","draft-quick-quote","quick-quoting","quick-quoted","no-quick-quote","spot-qq-requested","pickup-request","rejected"],"readOnly":true},"billing_option":{"type":"string","description":"Billing Option","enum":["prepaid","collect","thirdparty"],"default":"prepaid"},"notes":{"type":"string","description":"Notes that will appear on BOL"},"po_num":{"type":"string","description":"Purchase order numbers (if multiple use comma separated values)"},"tender_num":{"type":"string","description":"Tender number"},"ref_num":{"type":"string","description":"Reference number"},"custom_broker":{"type":"string","description":"Custom broker information"},"declared_value":{"type":"number","format":"float","description":"Declared value"},"declared_value_currency":{"type":"string","description":"Declared value currency","enum":["cad","usd"]},"pickup_start_at":{"type":"string","format":"date-time","description":"Pickup time range (start)"},"pickup_end_at":{"type":"string","format":"date-time","description":"Pickup time range (end)"},"pickup_appt_start_at":{"type":"string","format":"date-time","description":"Pickup appointment time range (start). This field value can be _null_"},"pickup_appt_end_at":{"type":"string","format":"date-time","description":"Pickup appointment time range (end). This field value can be _null_"},"delivery_start_at":{"type":"string","format":"date-time","description":"Expected delivery time range (start). This field value can be _null_"},"delivery_end_at":{"type":"string","format":"date-time","description":"Expected delivery time range (end). This field value can be _null_"},"delivery_appt_start_at":{"type":"string","format":"date-time","description":"Delivery appointment time range (start). This field value can be _null_"},"delivery_appt_end_at":{"type":"string","format":"date-time","description":"Delivery appointment time range (end). This field value can be _null_"},"dim_type":{"type":"string","description":"Dimension type","enum":["ltl","ftl","volume"],"default":"ltl"},"commodities":{"description":"Commodities items","type":"array","items":{"$ref":"#/definitions/Commodity"}},"accessorials":{"type":"array","items":{"type":"string","format":"uuid"}}}},"OrderAddress":{"description":"Order address","type":"object","properties":{"address_book_id":{"description":"Auto generated address book id. This field value can be _null_. Leave this field as null if you want to manually specify the address. If you want to populate the address using address_book_id, you must leave address_book_external_id empty.","type":"string","format":"uuid","readOnly":true},"address_book_external_id":{"description":"Address book external id. This field value can be _null_. Leave this field as null if you want to manually specify the address. If you want to populate the address using address_book_external_id, you must leave address_book_id empty.","type":"string","format":"uuid"},"org_name":{"description":"Organization name","type":"string"},"contact_name":{"description":"Contact name","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"suite":{"description":"Suite number","type":"string"},"city":{"description":"City","type":"string"},"state":{"description":"State / Province","type":"string"},"country":{"description":"Country (2 letter ISO)","type":"string"},"postal":{"description":"Postal / Zip code","type":"string"},"phone":{"description":"Phone number","type":"string"},"phone_ext":{"description":"Phone extension","type":"string"},"email":{"description":"Email","type":"string"},"fax":{"description":"Fax","type":"string"},"latitude":{"description":"Coordinate (latitude). This field value can be _null_","type":"number","format":"float"},"longitude":{"description":"Coordinate (longitude). This field value can be _null_","type":"number","format":"float"},"bus_hours_start_at":{"description":"Business hours range (start). This field value can be _null_","type":"string","format":"date-time"},"bus_hours_end_at":{"description":"Business hours range (end). This field value can be _null_","type":"string","format":"date-time"}}},"OrderCustomer":{"description":"Customer","type":"object","properties":{"id":{"description":"Auto generated customer id","type":"string","format":"uuid","readOnly":true},"external_id":{"description":"Customer external id. This field value can be _null_","type":"string","readOnly":true},"short_code":{"description":"Customer's short code","type":"string","readOnly":true}}},"Commodity":{"description":"Commodity item","type":"object","properties":{"id":{"description":"Auto generated commodity id","type":"string","format":"uuid","readOnly":true},"measurement_unit":{"type":"string","description":"Measurement unit","enum":["inch","cm"]},"weight_unit":{"type":"string","description":"Weight unit","enum":["lb","kg"]},"freight_class":{"description":"Freight class","type":"string"},"commodity_type":{"type":"string","description":"Commodity type","enum":["skid","other"],"default":"skid"},"commodity_type_other":{"description":"If commodity type is set to _other_, then this field must have value","type":"string"},"description":{"description":"Description of the commodity","type":"string"},"feet":{"description":"Total feet in length of the truck the commodity is occupying. This field must have value if order's dimension type is set to _ftl_","type":"number","format":"float"},"volume":{"description":"Total volume of the commodity item. This field must have value if order's dimension type is set to _volume_","type":"number","format":"float"},"length":{"description":"Length of the commodity","type":"number","format":"float"},"width":{"description":"Width of the commodity","type":"number","format":"float"},"height":{"description":"Height of the commodity","type":"number","format":"float"},"weight":{"description":"Weight of the commodity","type":"number","format":"float"},"nmfc":{"description":"NMFC number","type":"string"},"is_stackable":{"description":"Is this commodity can be stacked?","type":"boolean"},"quantity":{"description":"Quantity of the commodity","type":"integer"},"pieces":{"description":"Total number of pieces. This field value can be _null_","type":"integer"},"sku":{"description":"SKU number","type":"string"}}},"Leg":{"description":"Leg","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Auto generated system ID","readOnly":true},"sequence_id":{"type":"integer","description":"Auto generated sequence ID per customer","readOnly":true},"version":{"type":"integer","description":"Auto generated version number (incremental)","readOnly":true},"external_id":{"type":"string","description":"External ID for mapping the leg to an external system. This field value can be _null_"},"public_id":{"type":"string","description":"Auto generated human readable ID","readOnly":true},"order_id":{"type":"string","description":"Related order ID","readOnly":true},"manifest_id":{"type":"string","description":"Related manifest ID (assigned). This field value can be _null_"},"origin_stop_id":{"type":"string","description":"Stop ID of the origin (only if this leg has been assigned to a manifest). This field value can be _null_","readOnly":true},"destination_stop_id":{"type":"string","description":"Stop ID of the destination (only if this leg has been assigned to a manifest). This field value can be _null_","readOnly":true},"origin":{"$ref":"#/definitions/LegAddress"},"destination":{"$ref":"#/definitions/LegAddress"},"status":{"type":"string","description":"Leg Status","enum":["available","pending","dispatched","arrived_origin","in_origin","loaded","departed_origin","arrived_destination","in_destination","unloaded","departed_destination","cancelled","problem"],"readOnly":true},"origin_start_at":{"type":"string","format":"date-time","description":"Origin ready time range (start)"},"origin_end_at":{"type":"string","format":"date-time","description":"Origin ready time range (end)"},"origin_appt_start_at":{"type":"string","format":"date-time","description":"Origin appointment time range (start). This field value can be _null_"},"origin_appt_end_at":{"type":"string","format":"date-time","description":"Origin appointment time range (end). This field value can be _null_"},"destination_start_at":{"type":"string","format":"date-time","description":"Destination expected time range (start). This field value can be _null_"},"destination_end_at":{"type":"string","format":"date-time","description":"Destination expected time range (end). This field value can be _null_"},"destination_appt_start_at":{"type":"string","format":"date-time","description":"Destination appointment time range (start). This field value can be _null_"},"destination_appt_end_at":{"type":"string","format":"date-time","description":"Destination appointment time range (end). This field value can be _null_"},"commodities":{"description":"Commodities items","type":"array","items":{"$ref":"#/definitions/Commodity"}},"accessorials":{"type":"array","items":{"type":"string","format":"uuid"}},"history":{"$ref":"#/definitions/LegHistory"}}},"LegAddress":{"description":"Leg address","type":"object","properties":{"terminal_id":{"description":"Related terminal ID. This field value can be _null_","type":"string","format":"uuid"},"org_name":{"description":"Organization name","type":"string"},"contact_name":{"description":"Contact name","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"suite":{"description":"Suite number","type":"string"},"city":{"description":"City","type":"string"},"state":{"description":"State / Province","type":"string"},"country":{"description":"Country (2 letter ISO)","type":"string"},"postal":{"description":"Postal / Zip code","type":"string"},"phone":{"description":"Phone number","type":"string"},"phone_ext":{"description":"Phone extension","type":"string"},"email":{"description":"Email","type":"string"},"fax":{"description":"Fax","type":"string"},"latitude":{"description":"Coordinate (latitude). This field value can be _null_","type":"number","format":"float"},"longitude":{"description":"Coordinate (longitude). This field value can be _null_","type":"number","format":"float"}}},"LegHistory":{"description":"Historical timestamps of a leg","type":"object","readOnly":true,"properties":{"origin_arrived_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner arrived at origin"},"origin_in_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner in at origin"},"origin_pickedup_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner picked up at origin"},"origin_out_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner out at origin"},"destination_arrived_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner arrived at destination"},"destination_in_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner in at destination"},"destination_delivered_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner delievered up at destination"},"destination_out_at":{"type":"string","format":"date-time","description":"The timestamp of when the driver/partner out at destination"}}},"Stop":{"description":"Stop","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Auto generated system ID","readOnly":true},"manifest_id":{"type":"string","description":"Related Manifest ID","readOnly":true},"ordinal":{"type":"integer","description":"Ordinal of the stop in the manifest","readOnly":true},"type":{"type":"string","description":"Stop Type","enum":["stop","start","end","terminal"],"readOnly":true},"schedule_start_at":{"type":"string","format":"date-time","description":"Scheduled time range (start)"},"schedule_end_at":{"type":"string","format":"date-time","description":"Scheduled time range (end)"},"org_name":{"description":"Organization name","type":"string"},"contact_name":{"description":"Contact name","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"suite":{"description":"Suite number","type":"string"},"city":{"description":"City","type":"string"},"state":{"description":"State / Province","type":"string"},"country":{"description":"Country (2 letter ISO)","type":"string"},"postal":{"description":"Postal / Zip code","type":"string"},"phone":{"description":"Phone number","type":"string"},"phone_ext":{"description":"Phone extension","type":"string"},"email":{"description":"Email","type":"string"},"fax":{"description":"Fax","type":"string"},"latitude":{"description":"Coordinate (latitude). This field value can be _null_","type":"number","format":"float"},"longitude":{"description":"Coordinate (longitude). This field value can be _null_","type":"number","format":"float"}}},"Customer":{"description":"Customer","type":"object","properties":{"id":{"description":"Auto generated customner id","type":"string","format":"uuid","readOnly":true},"external_id":{"description":"Customer external id. This field value can be _null_","type":"string","readOnly":true},"short_code":{"description":"Customer's short code","type":"string","readOnly":true},"name":{"description":"Organization name","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"suite":{"description":"Suite number","type":"string"},"city":{"description":"City","type":"string"},"state":{"description":"State / Province","type":"string"},"country":{"description":"Country (2 letter ISO)","type":"string"},"postal":{"description":"Postal / Zip code","type":"string"},"phone":{"description":"Phone number","type":"string"},"phone_ext":{"description":"Phone extension","type":"string"},"email":{"description":"Email","type":"string"},"fax":{"description":"Fax","type":"string"},"latitude":{"description":"Coordinate (latitude). This field value can be _null_","type":"number","format":"float"},"longitude":{"description":"Coordinate (longitude). This field value can be _null_","type":"number","format":"float"},"default_billing_option":{"type":"string","description":"Billing Option","enum":["prepaid","collect","thirdparty"],"default":"prepaid"},"default_dim_type":{"type":"string","description":"Dimension type","enum":["ltl","ftl","volume"],"default":"ltl"},"default_order_notes":{"description":"This notes will always show up as internal note everytime an order is created for this customer","type":"string"},"currency":{"type":"string","description":"Currency used when doing billing/invoicing","enum":["cad","usd"]},"is_active":{"type":"boolean","description":"Is customer active?","default":false},"credit_limit":{"type":"number","format":"float","description":"Credit limit for this customer"},"credit_balance":{"type":"number","format":"float","description":"Credit balance for this customer"},"dispatch__contact_name":{"type":"string","description":"Dispatch contact name"},"dispatch_contact_phone":{"type":"string","description":"Dispatch contact phone"},"dispatch_contact_email":{"type":"string","description":"Dispatch contact email"},"billing_contact_name":{"type":"string","description":"Billing contact name"},"billing_contact_phone":{"type":"string","description":"Billing contact phone"},"billing_contact_email":{"type":"string","description":"Billing contact email"},"sales_contact_name":{"type":"string","description":"Sales contact name"},"sales_contact_phone":{"type":"string","description":"Sales contact phone"},"sales_contact_email":{"type":"string","description":"Sales contact email"},"management_contact_name":{"type":"string","description":"Management contact name"},"management_contact_phone":{"type":"string","description":"Management contact phone"},"management_contact_email":{"type":"string","description":"Management contact email"},"other_contact_name":{"type":"string","description":"Other contact name"},"other_contact_phone":{"type":"string","description":"Other contact phone"},"other_contact_email":{"type":"string","description":"Other contact email"}}},"SpotQuote":{"type":"object","properties":{"notes":{"type":"string","description":"Notes"},"est_delivery_start_at":{"type":"string","format":"date-time","description":"Estimated delivery time range (start). This field value can be _null_"},"est_delivery_end_at":{"type":"string","format":"date-time","description":"Estimated delivery time range (end). This field value can be _null_"},"freight_charge":{"type":"number","format":"float","description":"Freight charge"},"original_freight_charge":{"type":"number","format":"float","description":"Orginal freight charge. This field value can be _null_"},"fuel_charge":{"type":"number","format":"float","description":"Fuel charge"},"original_fuel_charge":{"type":"number","format":"float","description":"Orginal fuel charge. This field value can be _null_"},"accessorial_charges":{"description":"Accessorials charges","type":"array","items":{"type":"object","properties":{"accessorial_id":{"type":"string","format":"uuid","description":"Accessorial id"},"charge":{"type":"number","format":"float","description":"Accessorial charge"},"original_charge":{"type":"number","format":"float","description":"Orginal accessorial charge. This field value can be _null_"}}}}}},"Quote":{"description":"Quote","type":"object","readOnly":true,"properties":{"id":{"description":"Auto generated quote id","type":"string","format":"uuid","readOnly":true},"order_id":{"description":"Order id this quote is associated to","type":"string","format":"uuid"},"currency":{"type":"string","description":"Declared value currency","enum":["cad","usd"]},"customer_service_id":{"type":"string","format":"uuid","description":"Customer's service of this quote generated from"},"is_expired":{"type":"boolean","description":"Is this quote has expired?"},"pickup_start_at":{"type":"string","format":"date-time","description":"Pickup time range (start)"},"pickup_end_at":{"type":"string","format":"date-time","description":"Pickup time range (end)"},"est_delivery_start_at":{"type":"string","format":"date-time","description":"Estimated delivery time range (start). This field value can be _null_"},"est_delivery_end_at":{"type":"string","format":"date-time","description":"Estimated delivery time range (end). This field value can be _null_"},"notes":{"type":"string","description":"Notes"},"error_message":{"type":"string","description":"Error message"},"status":{"type":"string","description":"Status","enum":["quote-success","quote-pending","quote-rejected","quote-error","dispatch-success","dispatch-pending","dispatch-rejected","dispatch-error"]},"charges":{"type":"object","properties":{"freight":{"type":"number","format":"float","description":"Freight charge"},"fuel":{"type":"number","format":"float","description":"Fuel charge"},"accessorials":{"type":"number","format":"float","description":"Accessorials charge"},"total":{"type":"number","format":"float","description":"Total charge"}},"items":{"description":"Quote items","type":"array","items":{"type":"object","properties":{"type":{"description":"Type","type":"string","format":"uuid","enum":["freight","freight-cwt","freight-cwt-min","freight-spot","freight-pallets","freight-pallets-min","accessorial","fuel","misc"]},"quote_id":{"type":"string","format":"uuid","description":"Quote id this item is associated to","readOnly":true},"description":{"type":"string","description":"Description"},"quantity":{"type":"integer","description":"Unit quantity"},"unit_price":{"type":"integer","description":"Unit price"},"total":{"type":"integer","description":"Total"}}}}}}},"ApiError":{"type":"object","properties":{"error_code":{"description":"Error code","type":"string"},"error_message":{"description":"Error message","type":"string"}}},"Manifest":{"type":"object","properties":{"id":{"description":"Id of the manifest","type":"string","format":"uuid"},"nickname":{"description":"The nickname for the manifest","type":"string"},"org_id":{"description":"Id of the organization to which the manifest belongs","type":"string","format":"uuid"},"vehicle_id":{"description":"Id of the vehicle corresponding to the manifest","type":"string","format":"uuid"},"dispathcer_user_id":{"description":"Id of the dispatcher of the manifest","type":"string","format":"uuid"},"driver_user_id":{"description":"Id of the driver corresponding to the manifest","type":"string","format":"uuid"},"trailer_id":{"description":"Id of the trailer corresponding to the manifest","type":"string","format":"uuid"},"partner_carrier_id":{"description":"Id of the partner/carrier that corresponds to the manifest","type":"string","format":"uuid"},"partner_carrier_service_id":{"description":"Id of the partner/carrier service that corresponds to the manifest","type":"string
[...]
